<div>
  <select id="categories" name="categories[]" class="form-select" data-mdb-select-init multiple data-mdb-clear-button="true">
    <% categories.forEach(category => { %>

    <!-- Check if category is selected or not -->
    <% const isSelected = item?.categories?.some(cId => Number(cId) ===
    category.category_id) %>
    <option value="<%= category.category_id %>" <%= isSelected ? 'selected' : '' %>>
      <%= category.category_name %>
    </option>
    <% }) %>
    <!-- Close forEach -->
  </select>
  <p class="m-0 text-info">
    Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.
  </p>
</div>