<nav>
  <ul>
    <% [
        {
            menu: "Home",
            link: "/"
        }
        ].forEach(({menu, link}) => { %>
    <li><a href="<%=link%>"><%= menu %></a></li>
    <% }) %>
  </ul>
</nav>