<nav>
  <ul>
    <% [
        {
            menu: "Home",
            link: "/"
        },
        {
            menu: "Add category",
            link: "/categories/new"
        },
        {
            menu: "Add item",
            link: "/items/new"
        }
        ].forEach(({menu, link}) => { %>
    <li><a href="<%=link%>"><%= menu %></a></li>
    <% }) %>
  </ul>
</nav>